<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>注册页面</title>
        <link rel="stylesheet" href="../css/register.min.css">
        <script src="../js/require.js" async = "true" defer data-main = "../js/main02"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="header">
                    <ul class="h-left clearfix">
                        <li>
                            <a href="register.html">手机版</a>
                        </li>
                        <li>
                            <a href="register.html">企业采购</a>
                        </li>
                        <li>
                            <a href="register.html">商城公告</a>
                        </li>
                        <li>
                            <a href="register.html">意见反馈</a>
                        </li>
                    </ul>
                    <ul class="h-right clearfix">
                        <li>
                            <a href="register.html" class="login">登录</a>
                        </li>
                        <li>
                            <a href="register.html" class="register">注册</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="main-container">
            <div class="main-box">
                <div class="main-pic pic-right">
                    <img src="../images/login-register/login.png" alt="">
                </div>
                <div class="line"></div>
                <div class="main-register">
                    <div class="welcome">欢迎注册</div>
                    <div class="register-input">
                        <div class="registeript">
                            <input type="number" placeholder="仅支持手机号" name="number" required ng-minlength = "11" ng-maxlength = "11" ng-model="user.number" class="phoneNum" id="userphone">
                        </div>
                        <div class="registeript">
                            <input type="password" placeholder="登录密码" name="password" required ng-pattern="/[a-zA-Z0-9]/" ng-maxlength="18" ng-minlength="6" ng-model="user.password" class="phoneNum" id="password">
                        </div>
                        <div class="registeript">
                            <input type="password" placeholder="再次输入登录密码" name="password2" required ng-model="password2" class="phoneNum" id="respassword">
                        </div>
                        <div class="registeript">
                            <input type="text" placeholder="验证码" name="testcode" placeholder="验证码" class="phoneNum" id="useryzm" style="width: 75%;">
                            <img src="#" id="vcode-img" alt="验证码" class="imgYzm">
                            <button class="btn" ng-click="getTestCode()" ng-bind="description" ng-disabled="canClick">更换验证码</button>
                        </div>
                        <div class="registeript">
                            <input type="text" placeholder="短信验证码" name="testcode2" class="phoneNum" id="noteyzm" style="width: 75%;">
                            <button class="registerYzm" type="button">获取短信验证码</button>
                        </div>
                        <div class="registerbox">
                            <label>
                                <input type="checkbox" id="agreement" value="1">&nbsp;&nbsp;&nbsp;&nbsp;已阅读并同意中兴商城
                                <a href="register.html"> 《服务协议》</a>和<a href="register.html"> 《隐私政策》</a>
                            </label>
                        </div>
                        <div class="registerBtn">
                            <button type="submit" class="Btn">立即注册</button>
                        </div>
                        <div class="register-wrap">
                            已有账号? <a href="login.html">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-top">
                    <ul class="ft-ul clearfix">
                        <li class="ft-li">
                            <img src="../images/footer/7.png" alt="">
                            <span>7天退货保障</span>
                        </li>
                        <li class="ft-li">
                            <img src="../images/footer/30.png" alt="">
                            <span>15天换货承诺</span>
                        </li>
                        <li class="ft-li">
                            <img src="../images/footer/mian.png" alt="">
                            <span>150元起全场免运费</span>
                        </li>
                        <li class="ft-li">
                            <img src="../images/footer/position.png" alt="">
                            <span>全国售后服务点</span>
                        </li>
                    </ul>
                </div>
                <div class="footer-center">
                    <div class="fc-main">
                        <div class="fc-left">
                            <ul class="fc-lul">
                                <li class="fc-lli"><a href="index.html">关注我们</a></li>
                                <li class="fc-llist">
                                    <ul>
                                        <li><a href="register.html">中兴社区</a></li class="fc-llulli">
                                        <li><a href="register.html">官方微信</a></li class="fc-llulli">
                                        <li><a href="register.html">新浪微博</a></li class="fc-llulli">
                                    </ul>
                                </li>
                            </ul>
                            <ul class="fc-lul">
                                <li class="fc-lli"><a href="index.html">帮助中心</a></li>
                                <li class="fc-llist">
                                    <ul>
                                        <li><a href="register.html">支付方式</a></li class="fc-llulli">
                                        <li><a href="register.html">购物指南</a></li class="fc-llulli">
                                        <li><a href="register.html">配送指南</a></li class="fc-llulli">
                                    </ul>
                                </li>
                            </ul>
                            <ul class="fc-lul">
                                <li class="fc-lli"><a href="index.html">售后服务</a></li>
                                <li class="fc-llist">
                                    <ul>
                                        <li><a href="register.html">退换货流程</a></li class="fc-llulli">
                                        <li><a href="register.html">售后网点</a></li class="fc-llulli">
                                        <li><a href="register.html">退换货政策</a></li class="fc-llulli">
                                        <li><a href="register.html">保修政策</a></li class="fc-llulli">
                                    </ul>
                                </li>
                            </ul>
                            <ul class="fc-lul">
                                <li class="fc-lli"><a href="index.html">关于商城</a></li>
                                <li class="fc-llist">
                                    <ul>
                                        <li><a href="register.html">联系我们</a></li class="fc-llulli">
                                        <li><a href="register.html">商城简介</a></li class="fc-llulli">
                                        <li><a href="register.html">礼品团购</a></li class="fc-llulli">
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="fc-right">
                            <div class="fc-server">
                                <div class="kefu">
                                    <img src="../images/footer/kefu.png" alt="">
                                    <a href="register.html">在线客服</a>
                                </div>
                                <br/>
                                <div class="fc-tell">电话热线：400-880-9999转7</div>
                                <br/>
                                <div class="fc-work">周一到周日 9：00 - 24：00(全年无休)</div>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="footer-botton">
                    <ul class="fb-ul">
                        <li><a href="register.html">中兴社区</a></li>
                        <!-- <li class="line2"></li> -->
                        <li><a href="register.html">中兴通讯</a></li>
                        <!-- <li class="line2"></li> -->
                        <li><a href="register.html">汇天地</a></li>
                        <!-- <li class="line2"></li> -->
                        <li><a href="register.html">中兴云服务</a></li>
                        <!-- <li class="line2"></li> -->
                        <li style="border-right: 0;"><a href="register.html">中兴手机</a></li>
                        <!-- <li class="line2"></li> -->
                    </ul>
                    <div class="fb-copyright">
                        <a href="register.html">服务协议 |</a>
                        <a href="register.html">隐私政策 |</a>
                        ©2014 - 2017 深圳市中兴智谷科技有限公司版权所有，并保留所有权利  
                     </div>
                     <div class="fb-copyright">
                        增值电信业务经营许可证：粤B2-20160352 |  
                        <a href="register.html">ICP备案证书号 :粤ICP备16018970号 | </a>
                        <a href="register.html">粤公网安备 44030502001132号 |</a><br/>
                        <img src="../images/footer/govIcon.gif" alt="" style="width: 26px;height: 36px;">
                     </div>
                </div>
            </div>
        </div>
        <ul class="backTotop">
            <li><a href="register.html"><img src="../images/footer/kefu.png" alt=""><span style="display: none;">公众账号</span></a></li>
            <li><a href="register.html"><img src="../images/footer/kefu.png" alt=""><span style="display: none;">在线客服</span></a></li>
            <li><a href="register.html"><img src="../images/footer/kefu.png" alt=""></a></li>
        </ul>
    </body>
</html>